<div class="col-xs-12 col-sm-9">
    <div id="showMessage" class="alert alert-success" style="display:none;padding-bottom: 0;padding-top: 0;">{{message}}</div>

    <form class="form">
        <div class="row" style="margin-left:0;">
            <button class="btn btn-primary pull-left" ng-click="createNewShowCase()">Сохранить</button>
        </div>
        <div>
            <label for="showCaseName">Название</label>
            <input type="text" class="form-control" ng-model="showCase.name" id="showCaseName" name="name" value="{{showCase.name}}">
        </div>
        <div class="form-group">
            <label for="sel">Тип витрины</label>
            <select class="form-control" ng-model="showCase.showCaseTypeId" id="sel" name="type">
                <option value ="1">Торты</option>
                <option value ="2">Капкейки</option>
                <option value ="3">Пироги</option>
            </select>
        </div>
        <div>
            <label for="showCaseminSum">Минимальная сумма</label>
            <input type="text" class="form-control" ng-model="showCase.minSum" id="showCaseminSum" name="minSum" value="{{showCase.minSum}}">
        </div>
        <div>
            <label for="showCaseNote">Описание</label>
            <textarea class="form-control" rows="3" ng-model="showCase.note" id="showCaseNote" name="note">{{showCase.note}}</textarea>
        </div>
    </form>

</div>